<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">Admin Home</a></li>
        <li><a class="nav-link scrollto" href="#about">Blood Group</a></li>

        <li><a class="nav-link scrollto" href="#search">District</a></li>
        <li><a class="nav-link scrollto" href="#contact">Thana</a></li>
        <li><a class="nav-link scrollto" href="#doctors">Donner</a></li>
        <li><a class="nav-link scrollto" href="#doctors">Requisition</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<a href="#appointment" class="appointment-btn scrollto">Logout</a>

