<nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About Us</a></li>

        <li><a class="nav-link scrollto" href="#search">Search Donner</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="#doctors">Register</a></li>
        <li><a class="nav-link scrollto" href="#doctors">Login</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Add Blood</span> Request</a>
